@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap");
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
}
body {
  background-color: black;
  /* background-image: url("../images/Queen.jpg");
  background-repeat: no-repeat; */
  color: #00ff00;
  padding: 3rem;
  font-family: "Mountains of Christmas";
  border: dotted 6px #85bb65;
  border-radius: 50%;
}

.background-img {
  display: block;
  margin: 0 auto;
}

.footer-img {
  width: 200px;
}
h3 {
  text-align: right;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  /* padding: 1rem; */
}
h2:hover {
  font-size: 3rem;
}
p {
  text-align: center;
  font-size: 2rem;
}
a {
  text-decoration: none;
  border-style: double;
  border-radius: 50%;
  border-color: #00ff00;
  border-width: 8px;
}
header {
  display: flex;
  flex-flow: row wrap;
  border-style: double;
  border-color: #551a8b;
  border-width: 10px;
  justify-content: center;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 50%;
}
footer {
  display: flex;
  flex-flow: row wrap;
  border-style: double;
  border-color: #551a8b;
  border-width: 10px;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 50%;
}
a:hover {
  font-size: 1.5rem;
}
h1:hover {
  font-size: 3rem;
}
.date {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 200px;
  border-top: 3px solid #551a8b;
  border-radius: 50%;
  font-size: 3rem;
}
.date,
a {
  padding: 1rem;
}
iframe {
  padding: 2rem;
}
html {
  margin: 3rem;
}
.center {
  align-items: center;
  border-style: none;
}
